graft requirements

include CHANGELOG.md
include CMakeLists.txt
include LICENSE
include Makefile
include pyproject.toml
include README.md
include setup.py

graft src/pcre2/
graft src/libpcre2/

exclude MANIFEST.in
