name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types:
      - published

jobs:
  build_sdist:
    name: "build_sdist"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        name: Setup Python 3.14
        with:
          python-version: "3.14"

      - name: Make sdist
        run: pipx run build --sdist
  
      - name: Install from sdist
        run: |
          pip install -r requirements/build-requirements.txt
          cp dist/pcre2-*.tar.gz pcre2.tar.gz
          pip install pcre2.tar.gz

      - name: Test installed package
        run: |
          pip install -r requirements/test-requirements.txt
          pytest

      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: ./dist/*.tar.gz

  build_wheels:
    name: "build_wheels: ${{ matrix.name }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Windows AMD64
            os: windows-latest
            platform: amd64
            build: cp*-win_amd64
          - name: Windows ARM64
            os: windows-11-arm
            platform: arm64
            build: cp*-win_arm64
          - name: macOS x86-64
            os: macos-latest
            platform: x86_64
            build: "cp*-macosx_x86_64"
          - name: macOS ARM64
            os: macos-latest
            platform: arm64
            build: "cp*-macosx_arm64"
          - name: Ubuntu x86-64
            os: ubuntu-latest
            platform: x86_64
            build: "cp*-manylinux_x86_64"
          - name: Ubuntu x86-64 with MUSL
            os: ubuntu-latest
            build: "cp*-musllinux_x86_64"
            platform: x86_64_musl
          - name: Ubuntu Aarch64
            os: ubuntu-latest
            platform: aarch64
            build: "cp*-manylinux_aarch64"

    steps:
      - uses: actions/checkout@v5
        with:
            submodules: recursive

      - uses: ilammy/msvc-dev-cmd@v1.12.0
        if: runner.os == 'Windows'
        with:
          arch: ${{ matrix.os == 'windows-11-arm' && 'arm64' || 'x64' }}

      - name: Set Windows variables
        if: runner.os == 'Windows'
        shell: bash
        run: echo "CC=cl.exe" >> $GITHUB_ENV

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1.2.0
        with:
          platforms: aarch64

      - name: Build wheels with CIBuildWheel
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {project}/tests
          CIBW_ARCHS_LINUX: auto aarch64
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_BUILD: ${{ matrix.build }}
          CIBW_SKIP: cp3??t-*  # Disable free-threading builds on all platforms

      - name: Check with Twine
        run: pipx run twine check wheelhouse/*

      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}-${{ matrix.platform }}
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: artifact-*
          merge-multiple: true
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
